{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container-md">
    <h3>
        User Agent Parser
        <small class="text-muted">Use the form below to interpret your HTTP user agent string.</small>
    </h3>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="comment"><br>User Agent:</label>
            <textarea class="form-control" rows="3" id="user_agent" name="user_agent" placeholder="Paste your user agent string here..."></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
        <div class="container-md">
            {% if message %}
                <div class="row">
                    <div class="col-md-6"><p class="text-danger">{{ message }}</p></div>
                </div>
            {% endif %}
            {% if browser %}
                <div class="row">
                    <div class="col-md-3"><b>Web Browser</b></div>
                    <div class="col-md-4">{{ browser }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Operating System</b></div>
                    <div class="col-md-4">{{ os }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Device Type</b></div> 
                    <div class="col-md-4">{{ device }}</div>
                </div>
                {% if extra %}
                    <div class="row">
                        <div class="col-md-3"><b>Additional</b></div> 
                        <div class="col-md-4"><span class="badge badge-danger">Important!</span> <p class="text-danger">{{ extra }}</p></div><br>                        
                    </div>
                {% endif %}
                {% if browser_info %}
                    <div class="row">
                        <div class="col-md-3"><b>Browser Info</b></div> 
                        <div class="col-md-4"><span class="badge badge-warning">Warning</span> <p>{{ browser_info }}</p></div>
                    </div>
                {% endif %}
                <br><a href={{ pex_url }} target="_blank">Please click here for the list of supported browsers</a>
            {% endif %}
        </div>
    <br>
    
</div>
{% endblock %}